body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: blue;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }

